# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
#your code here

print("Shape of the spaceship data:")
print(spaceship.shape)  # This will print the number of rows and columns in the dataset

**Check for data types**

In [4]:
#your code here

print("\nData types of columns:")
print(spaceship.dtypes)  # This will print the data types of each column

**Check for missing values**

In [5]:


print("\nMissing values in the dataset:")
print(spaceship.isnull().sum())  # This will print the count of missing values in each column#your code here

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [6]:
#your code here
# Drop rows with any missing values
spaceship_clean = spaceship.dropna()

# Confirming the new shape of the DataFrame after dropping rows with missing values
print("Shape of the cleaned spaceship data:")
print(spaceship_clean.shape)

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [8]:
#your code here
# Selecting only numerical columns as features
numerical_columns = spaceship.select_dtypes(include=np.number).columns.tolist()

# Creating a new DataFrame with only numerical columns
spaceship_numeric = spaceship[numerical_columns]

# Display the first few rows to verify
print("First few rows of the DataFrame with numerical columns:")
print(spaceship_numeric.head())

And also lets define our target.

In [9]:
#your code here
# Assuming the target column is named 'survived', you can define it like this:
target = spaceship['survived']

# Display the first few rows of the target variable to verify
print("First few rows of the target variable 'survived':")
print(target.head())

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [10]:
#your code here
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(spaceship_numeric, target, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets to verify
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [11]:
#your code here
from sklearn.neighbors import KNeighborsClassifier

# Initialize KNN classifier
knn_classifier = KNeighborsClassifier()

Fit the model to your data.

In [12]:
#your code here
# Fit the KNN classifier to the training data
knn_classifier.fit(X_train, y_train)

# Once fitted, the model is ready for making predictions

Evaluate your model.

In [13]:
#your code here
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Predict on the test set
y_pred = knn_classifier.predict(X_test)

# Evaluate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Print classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Print confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

**Congratulations, you have just developed your first Machine Learning model!**